<div class="container d-flex align-items-center">
  <h1>Rendelések</h1>
</div>

<div class="container list">
  <div class="defaultStyle">
    <table mat-table [dataSource]="dataSource" class="col-12 defaultStyle">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Firstname Column -->
      <ng-container matColumnDef="orderdate">
        <th mat-header-cell *matHeaderCellDef> Rendelés dátuma </th>
        <td mat-cell *matCellDef="let element"> {{element.orderdate}} </td>
      </ng-container>

      <!-- Lastname Column -->
      <ng-container matColumnDef="totalprice">
        <th mat-header-cell *matHeaderCellDef> Teljes összeg </th>
        <td mat-cell *matCellDef="let element"> {{element.totalprice}} Ft</td>
      </ng-container>

      <!-- Username Column -->
      <ng-container matColumnDef="customerid">
        <th mat-header-cell *matHeaderCellDef> Felhasználó ID </th>
        <td mat-cell *matCellDef="let element"> {{element.customerid}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Rendelés státusza </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Részletek/Törlés </th>
        <td mat-cell *matCellDef="let element">
          <span class="material-icons pointer" routerLink="/orderDetails/list/{{element.id}}">
            info
          </span>

          <span class="material-icons pointer">
            delete
          </span>

        </td>
      </ng-container>
      <!-- Delete Column -->


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>