<h1>Bejelentkezés</h1>
<div *ngIf="!isAuthenticated" class="container d-flex">
          <div class="col-6 mx-auto p-4">
               <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Felhasználónév</label>
                      <input type="email" class="form-control"placeholder="Felhasználónév" #username>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Jelszó</label>
                      <input type="password" class="form-control" placeholder="Jelszó" #password>
                    </div>
                    <button class="btn my-2" (click)="doLogin(username.value,password.value)">Bejelentkezés</button>
                  </form>
          </div>
          
</div>
